body{ 
    background-image: url(images/dark-paths.png);
    font-family: gayathri;
    color: rgb(133, 162, 197);
}
.jumbotron{
    border-radius: 5px;
}
button{
    height: 25px; 
    width: 85px;
    margin: 10px 2px 25px 2px;
    
    border-radius: 5px;
}
#addbtn{ 
    height: 28px; 
    width: 80px;
    margin-bottom: 25px;
    border-radius: 5px;

}
.animal{
    display: inline-block;
    margin: 6px;
}
img {
    border : 1px solid black;
    
}

.container{
    width: 900px;
    margin: auto;
    padding-top: 50px;
}